if SHIELD_REDKDB_LEFT

config ZMK_KEYBOARD_NAME
    default "redkbd"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REDKDB_LEFT || SHIELD_REDKDB_RIGHT

config ZMK_SPLIT
    default y

endif
