if SHIELD_REDKBD_LEFT

config ZMK_KEYBOARD_NAME
    default "redkbd"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REDKBD_LEFT || SHIELD_REDKBD_RIGHT

config ZMK_SPLIT
    default y

endif
